.TitleChangeContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.TitleChangeInput {
  line-height: 26px;
  border-color: #e0e0e0;
  box-shadow: none;
  border: 1px solid;
  border-radius: 4px;
  padding: 0px 5px;
  width: calc(100% - 30px);
}
.Update {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #00c853;
  border: none;
  position: absolute;
  top: 2px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 22px;
    height: 22px;
  }
}
.Cancel {
  border-radius: 4px;
  background-color: #d32f2f;
  cursor: pointer;
  color: #fff;
  border: none;
  border: none;
  position: absolute;
  top: 2px;
  right: 45px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 22px;
    height: 22px;
  }
}
