.CardFormContainer {
  flex-direction: column;
  display: flex;
  gap: 10px;
  select,
  input,
  textarea {
    padding: 10px;
    border: 1px solid #eee;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}

.CardFormHeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
}
.CardTitle {
  font-weight: 500;
  font-size: 20px;
}
.ColumnBadge {
  padding: 5px 10px;
  background-color: #0068ff;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 10px;
  width: auto;
}

.ActionContainer {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: space-between;
}

.SubmitBtn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fc8e01;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  flex: 1;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
.CancelBtn {
  padding: 10px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.DeleteCardBtn {
  border-radius: 4px;
  background-color: #d32f2f;
  cursor: pointer;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 24px;
    height: 24px;
  }
}
