.CardContainer {
  border-radius: 8px;
  padding: 10px;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 8px;
}

.CardTitle {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.Description {
  color: #9e9e9e;
}
