.PageContainer {
  padding: 10px;
}

.ColumnsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  min-height: 85vh;
}

.NewColumnContainer {
  background-color: #ebecf0;
  border-radius: 4px;
  margin: 0 4px;
  width: 272px;
  min-width: 272px;
  overflow: hidden;
}
.NewColumn {
  cursor: pointer;
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  background-color: #ebecf0;

  &:hover {
    background-color: #091e4214;
    color: #172b4d;
  }
  display: flex;
  align-items: center;
  span {
    font-size: 16px;
    margin-left: 5px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
